:root {
  --brand-primary: #ee2d30;
  --brand-primary-dark: #d31c1f;
  --brand-secondary: #0085cb;
  --brand-secondary-dark: #006faa;
  --brand-tertiary: #f7ec29;

  --white: #fff;
  --ice-gray: rgb(247, 247, 247);
  --light-gray: rgb(236, 236, 236);
  --neutral-gray: rgb(90, 90, 90);
}
